body {margin:20px;} /* Esta regra destina-se 
tão somente a colocar as imagens a uma distância 
de 20px para a esquerda e para baixo na tela do monitor e 
não influi no zoom */

#zum  {
width: 120px; /* largura da div = largura thumbnail */ 
height: 90px; /* altura da div = altura thumbnail */ 
background: url(estojo1.jpg) 0 0 no-repeat; /* coloca a imagem 
dentro da div na posição 0 0 e 
sem repetição */ 
margin: 0;
padding: 0;
} 

#thumb a { /* estado "UP" do link */ 
height: 90px; /* altura do thumbnail */ 

display: block; /* converte <a> de inline para 
block permitindo exibição com a largura 
e altura determinadas */ 
}

#thumb a:active { /* estado "OVER" do link */ 
width: 400px; /* largura da imagem */ 
height: 300px; /* altura da imagem */ 
background: transparent url(estojo1.jpg) 0 -90px no-repeat ; 

 
/* fundo da div notar que as coordenadas 0 -90px 
obrigam a imagem de fundo a "subir" 90 px */ 
}


