*{
margin:0;
padding:0;
}
 
ul{list-style-type:none}
 
a{text-decoration:none}
 
a:hover{text-decoration:underline}
 
#menu{width:150px}
 
#menu li{position:relative; _float:left}
 
#menu li a{
display:block;
height:25px;
line-height:25px;
color:#777;
border-bottom:1px solid #ccc;
background:#f5f5f5;
 
}
 
#menu li a:hover{
background:#e5e5e5;
color:#333;
 
}
 
#menu li ul, #menu li:hover ul ul{
display:none;
position:absolute;
width:150px;
top:0;
left:149px;
}
 
#menu li:hover ul,
#menu ul li:hover ul{
display:block;
}